body {
  font-family: 'Montserrat-Black';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-bold';
}

p {
  color: #8f8f8f;
}

/* headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/*Navbar spec*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}

/*Download buttons*/
.download-button {
  margin: 5% 3% 5% 0;
}

.container-fluid {
  padding: 7% 15%;
}

/* title section */
#title {
  background-color: #ff4c68;
  color: #fff;
  padding-bottom: 3%;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/*title images*/
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/*  feature speca*/
#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #52057b;
}

/* testnomials feats */
#testimonials {
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 3.5rem;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ff4c68;
  padding: 3%;
}

.press-logo {
  width: 20%;
  padding: 20px 50px 50px;
}

/* pricing feturex */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-coloumn {
  padding: 3% 2%;
}

@media(max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* last section */
#cta {
  background-color: #ff4c68;
  color: #fff;
}

.last-head {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

#footer {
  font-family: 'Montserrat-light';
  font-weight: lighter;
}

.foot-item {
  margin: 20px 10px;
}
